html, body {
    height: 100%;
}
body
{
    overflow-x:hidden;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 3%, rgba(203,203,203,1) 26%, rgba(255,255,255,1) 61%);
   
}
.wrapper {
    z-index: 0;
}

.card {
    
    display:inline-block;
    justify-content: center;
    width: 65%;
   /*  height: 20rem; */
    /* width: 50%; 
    max-width: 980px; */
    
}
/* @media only screen and (max-width: 200px) { div {width: 100%;}} */
.cardBody {
    margin-top: 0rem;
    border-radius: 0.2vh;
    position: absolute; 
    width:100%;
    font-family: Manrope-regular;
    text-shadow: 5rem;
    margin-left: -8rem;
    
}

.order {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.8vh;
    margin-top: -4.5rem;
    width: 34vh;
    user-select: none;
    
    
}
.h3 {
    margin-left: 1rem;  
}
.temperaments {
    display: flex;
    flex-direction: row;
    width: 30vh;
    margin-left: 1rem;  

}
.bodyTemperaments {
    background-color: rgba(176, 176, 176, 0.23);
    margin-top: 2rem;
    height: 10;
    transition: 0.2s;

}
.bodyWeight {
    background-color: rgba(176, 176, 176, 0.23);
    margin-top: 1.1rem;
    transition: 0.2s;

}
.weight {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}
.height {
    margin-left: 0.5rem;
}
.lifeSpan{
    margin-left: 0.5rem;
    
}
.bodyHeight {
    background-color: rgba(176, 176, 176, 0.23);
    margin-top: 1.1rem;
    transition: 0.2s;
}
.bodyLifeSpan {
    background-color: rgba(176, 176, 176, 0.23);
    margin-top: 1.1rem;
    transition: 0.2s;
}
.name {
    color: rgb(39, 39, 39);
    font-weight: lighter;
    font-family: kiak-regular;
    font-size: 2.5rem;
    width: auto;
    margin-bottom: -3.5rem;
    text-align: left;
    transition: 0.3s;
    user-select: none;
}
.name:hover {
    color: rgba(39, 39, 39, 0.708);

}


.dogImage {    /* aca el float y object fit es para que todas las pics sean iguales */
    float: left;
    object-fit: cover;  
    height: 40rem;
    width: 50rem;
    opacity: 1;
    margin-top: 1rem;
    margin-right: 1rem;
    box-shadow: 0px 1px 6px 0px #b1b1b1;
    user-select: none;
    /* -webkit-mask-image: linear-gradient(to right, transparent 0%, black %);
  mask-image: linear-gradient(to right, transparent 0.1%, black 100%); */
    /* mask-image: linear-gradient(to right, transparent , white); */
}

.bodyTemperaments:hover {
    box-shadow: 0px 2px 6px 0px #b1b1b1;
}
.bodyHeight:hover {
    box-shadow: 0px 2px 6px 0px #b1b1b1;
}
.bodyLifeSpan:hover{
    box-shadow: 0px 2px 6px 0px #b1b1b1;
}
.bodyWeight:hover{
    box-shadow: 0px 2px 6px 0px #b1b1b1;
}

.back {
    position: absolute;
    margin-left: -2vh;
    margin-top: -1vh;
    z-index: 100;
    font-family: manrope-regular;
    transition: 0.3s;
    font-size: 1.7rem;
    user-select: none;
}

.back:hover {
    font-size: 1.8rem;
}
.Navbar {
    position: absolute;
    margin-top: 2rem;
}
.holdPlace {
    z-index: 0;
    font-family: manrope-regular;
    height: 2rem;
    
    margin-top: 2rem;
    margin-bottom: -1.5rem;
    margin-left: 10rem;
}
s.goBackBody {
    display: inline-block;

}
.left {
    height: 4rem;
    margin-top: -0.3rem;
    margin-left: -58.5rem;
    position: absolute;
    transition: 0.3s;
    z-index: 100;
}
.left:hover {
    transform: scaleX(1.3); 
}
.favBtn {
    font-size: 2rem;
    position: absolute;
    z-index: 100;
}